<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Litaxx</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="vendors/bootstrap-4.5.2-dist/css/bootstrap.min.css">
</head>

<body>
    <section class="game-section">
        <div class="container">
            <div class="game-container">
                <div class="game-container-left">
                    <h1 class="text-center">Lobby</h1>

                    <% for (const [code, room] of rooms.entries()) { %>
                    <div class="card text-center" style="width: 18rem;">
                        <a href="game?gameId=<%= code %>">
                          <div class="card-body">
                            <h5 class="card-title">Anonymous vs Anonymous</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= code %></h6>
                            
                            <% if (room.getUserCount() == 3) { %>
                                <p class="card-text">1 spectator</p>
                            <% } else if (room.getUserCount() > 3) { %>
                                <p class="card-text"> <%= room.getUserCount() - 2 %> spectators</p>
                            <% } %>
                            
                          </div>
                        </a>
                    </div>
                    <% } %>
                </div>
                <div class="game-container-right">

                    <form action="game" method="get">
                        <button type="submit" class="btn btn-outline-dark m-1" id="create-a-game">Create a game</button>
                        <button type="submit" class="btn btn-outline-dark m-1" id="join-a-game">Join a game</button>
                        <input type="text" class="form-control text-center" id="gameId" name="gameId" placeholder="Game ID">
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <script src="resources/js/gameIdValidator.js"></script>
</body>

</html>
