<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <title>Litaxx</title>
        <link rel="stylesheet" href="resources/css/style.css">
        <link rel="stylesheet" href="resources/css/game.css">
        <link rel="stylesheet" href="vendors/bootstrap-4.5.2-dist/css/bootstrap.min.css">
</head>

<body>
        <section class="game-section">
                <div class="container-nbs">
                        <div class="game-container">
                                <div class="game-container-left">
                                        <div class="bar-stone-counter">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div class="bar-stone-counter-halfway-mark"></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                        </div>

                                        <div class="coordinates-container">
                                                <div class="file-coordinates">
                                                        <p>A</p>
                                                        <p>B</p>
                                                        <p>C</p>
                                                        <p>D</p>
                                                        <p>E</p>
                                                        <p>F</p>
                                                        <p>G</p>
                                                </div>
                                                <div class="rank-coordinates">
                                                        <p>7</p>
                                                        <p>6</p>
                                                        <p>5</p>
                                                        <p>4</p>
                                                        <p>3</p>
                                                        <p>2</p>
                                                        <p>1</p>
                                                </div>
                                        </div>

                                        <div class="board-grid">
                                                <div><button type="button" id="s42" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s43" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s44" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s45" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s46" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s47" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s48" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s35" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s36" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s37" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s38" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s39" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s40" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s41" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s28" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s29" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s30" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s31" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s32" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s33" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s34" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s21" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s22" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s23" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s24" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s25" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s26" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s27" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s14" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s15" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s16" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s17" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s18" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s19" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s20" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s7" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s8" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s9" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s10" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s11" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s12" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s13" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s0" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s1" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s2" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s3" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s4" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s5" class="btn-circle"></button>
                                                </div>
                                                <div><button type="button" id="s6" class="btn-circle"></button>
                                                </div>
                                        </div>
                                        <div class="m-5 row">
                                                <div class="col">
                                                        <button type="button" class="btn btn-secondary"
                                                                id="previous-move">Previous move</button>
                                                </div>
                                                <div class="col">
                                                        <button type="button" class="btn btn-secondary" 
                                                                id="next-move">Next move</button>
                                                </div>
                                        </div>
                                </div>

                                <div class="game-container-right">
                                        <div class="row mt-5 text-center">
                                                <div class="col">
                                                        <p class="numeric-counter numeric-black-counter"
                                                                id="numeric-black-stone-counter"></p>
                                                </div>
                                                <div class="col">
                                                        <p class="numeric-counter numeric-white-counter"
                                                                id="numeric-white-stone-counter"></p>
                                                </div>
                                        </div>

                                        <div class="row text-center">
                                                <div class="col">
                                                        <button type="button" class="d-none resign-btn" id="resign">
                                                                <svg version="1.1"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        width="23" height="23" viewBox="0 0 16 16"
                                                                        id="btn-svgs">
                                                                        <title>Resign</title>
                                                                        <path fill="#444444"
                                                                                d="M4 2c0-1.1-0.9-2-2-2s-2 0.9-2 2c0 0.7 0.4 1.4 1 1.7v12.3h2v-12.3c0.6-0.3 1-1 1-1.7z">
                                                                        </path>
                                                                        <path fill="#444444"
                                                                                d="M7.6 2c1.2 0 1.6 0.2 2.1 0.4 0.5 0.3 1.1 0.6 2.3 0.6s2.2-0.2 3-0.5v6.3c-0.2 0.3-0.9 1.2-3 1.2-0.9 0-1.3-0.2-1.9-0.4-0.7-0.3-1.5-0.6-3.1-0.6-0.8 0-1.5 0.2-2 0.5v-5.3c0.2-0.5 1-2.2 2.6-2.2zM16 1c0 0-1.6 1-4 1-2.1 0-1.8-1-4.4-1s-3.6 3-3.6 3v8c0 0 0.7-2 3-2 2.7 0 2.8 1 5 1 3.3 0 4-2 4-2v-8z">
                                                                        </path>
                                                                </svg>
                                                        </button>

                                                        <button type="button" id="draw" class="d-none resign-btn">
                                                                <svg version="1.1" id="btn-svgs"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        x="0px" y="0px" viewBox="0 0 512 512"
                                                                        style="enable-background:new 0 0 512 512;"
                                                                        xml:space="preserve" width="23" height="23">
                                                                        <title>Draw</title>
                                                                        <path d="M512,163.587c0.016-4.019-1.582-7.875-4.435-10.706L379.286,25.602c-5.864-5.818-15.331-5.801-21.172,0.042
                                                                                        l-37.278,37.278c-21.778-2.063-43.996,0.23-64.829,6.697c-20.865-6.475-43.039-8.766-64.844-6.697l-37.277-37.277
                                                                                        c-5.842-5.842-15.307-5.861-21.172-0.042L4.435,152.881c-2.853,2.831-4.45,6.688-4.435,10.706s1.644,7.863,4.518,10.671
                                                                                        l38.143,37.265c-2.106,22.392,0.38,45.257,7.287,66.592c4.364,13.479,10.342,26.122,17.846,37.849l-6.664,6.664
                                                                                        c-17.545,17.545-17.545,46.093,0,63.639c4.141,4.142,8.9,7.292,13.978,9.479c-9.823,17.184-7.418,39.507,7.236,54.161
                                                                                        c14.739,14.739,37.031,17.072,54.144,7.259c2.225,5.142,5.415,9.873,9.496,13.954c17.558,17.559,46.107,17.532,63.639,0
                                                                                        l3.952-3.952l9.159,9.159c0.504,0.505,1.036,0.966,1.59,1.383c8.482,8.41,19.724,13.04,31.678,13.04
                                                                                        c11.977,0,23.239-4.648,31.729-13.089c8.386-8.127,5.414-5.209,10.698-10.492c5.208,5.208,15.683,17.132,35.772,17.132
                                                                                        c12.02,0,23.32-4.681,31.819-13.18c4.084-4.084,7.276-8.819,9.501-13.965c17.246,9.845,39.53,7.361,54.139-7.249
                                                                                        c14.654-14.653,17.059-36.978,7.236-54.161c5.078-2.186,9.836-5.337,13.977-9.479c17.588-17.586,17.589-46.051,0-63.639
                                                                                        l-6.693-6.693c19.61-30.793,28.591-67.862,25.161-104.412l38.145-37.266C510.357,171.45,511.984,167.606,512,163.587z
                                                                                         M82.343,365.055c-5.849-5.849-5.849-15.365-0.001-21.214l4.022-4.022c1.271,1.357,2.56,2.7,3.882,4.022l17.262,17.262
                                                                                        l-3.952,3.952C97.707,370.903,88.192,370.904,82.343,365.055z M124.769,428.695c-5.863,5.862-15.35,5.862-21.213,0
                                                                                        c-5.863-5.864-5.863-15.35,0-21.214l25.165-25.165l21.214,21.213L124.769,428.695z M188.408,449.908
                                                                                        c-5.85,5.848-15.365,5.848-21.213,0c-2.833-2.833-4.394-6.6-4.394-10.606c0-4.007,1.561-7.773,4.394-10.607
                                                                                        c0.001,0,0.001-0.001,0.002-0.002l3.95-3.95l21.213,21.213L188.408,449.908z M429.657,365.057c-5.85,5.848-15.365,5.848-21.213,0
                                                                                        c0,0,0,0-0.001-0.001L302.378,258.989c-5.857-5.858-15.355-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213l127.279,127.279
                                                                                        c5.849,5.849,5.849,15.365,0,21.213c-5.848,5.85-15.364,5.849-21.214,0c-7.013-7.013-119.789-119.789-127.279-127.279
                                                                                        c-5.857-5.858-15.355-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213l106.075,106.076c5.852,5.862,5.854,15.34-0.009,21.204
                                                                                        c-5.862,5.862-15.351,5.862-21.214,0L217.525,343.842c-5.857-5.858-15.355-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213
                                                                                        l80.901,80.901c-4.87,4.87-2.674,2.711-10.439,10.235c-0.057,0.055-0.112,0.11-0.168,0.166c-2.833,2.833-6.601,4.394-10.606,4.394
                                                                                        c-4.007,0-7.773-1.561-10.605-4.393c-0.056-0.056-0.112-0.111-0.169-0.166c-8.923-8.646-124.198-123.995-133.767-133.563
                                                                                        c-30.311-30.31-44.23-72.069-38.19-114.569c0.673-4.731-0.95-9.5-4.368-12.84L36.38,163.447L143.237,57.422l31.854,31.854
                                                                                        c3.335,3.336,8.047,4.909,12.717,4.244c7.368-1.047,14.817-1.464,22.247-1.289c-7.648,5.408-14.877,11.496-21.646,18.266
                                                                                        c-18.514,18.515-68.607,68.607-84.853,84.853c-17.587,17.588-17.59,46.051,0,63.64c8.772,8.773,20.296,13.159,31.819,13.159
                                                                                        c11.524,0,23.048-4.386,31.82-13.159l60.179-60.178c19.625,6.992,40.599,7.836,60.27,3.018l142.013,142.014
                                                                                        C435.52,349.707,435.52,359.193,429.657,365.057z M443.099,195.219c-3.418,3.34-5.041,8.108-4.368,12.84
                                                                                        c4.222,29.708-1.722,60.219-16.398,86.032L317.589,189.347c6.913-4.239,13.409-9.309,19.312-15.211
                                                                                        c5.858-5.858,5.858-15.355,0-21.213c-5.857-5.858-15.355-5.858-21.213,0c-22.442,22.442-56.749,28.336-85.372,14.664
                                                                                        c-5.733-2.739-12.577-1.567-17.072,2.929l-67.261,67.261c-5.848,5.849-15.362,5.85-21.214,0c-2.833-2.833-4.394-6.6-4.394-10.607
                                                                                        c0-4.006,1.561-7.773,4.394-10.606c17.545-17.545,67.494-67.494,84.853-84.853c0.001-0.001,0.002-0.003,0.004-0.004
                                                                                        c30.114-30.111,71.827-44.26,114.567-38.187c4.666,0.664,9.382-0.908,12.717-4.244l31.854-31.854L475.62,163.447L443.099,195.219z
                                                                                        " />

                                                                </svg>

                                                        </button>
                                                </div>
                                        </div>

                                        <p class="text-center m-2" id="color"></p>
                                        <p class="text-center m-2" id="spectators"></p>
                                        <p class="text-center m-2" id="result"></p>
                                </div>
                        </div>
                </div>
                </div>
        </section>
        <audio id="move-sound" src="resources/media/move-sound.mp3" preload="auto"></audio>

        <script src="resources/js/mode-computer/bundle.js"></script>
</body>

</html>