:root {
	--black-sphere: radial-gradient(circle at 65% 15%, #5c5e61 1px, #5c5e61 3%, rgb(0, 0, 0) 60%, #37383a 100%);
	--white-sphere: radial-gradient(circle at 65% 15%, #fff 1px, #eeeeee 3%, #a5a4a4 60%, #c5c5c5 100%);
	--empty-counter-color: #aec6ca;
	--main-color: #19b2cb;
}

/* Page layout */
.game-section {
	margin-top: 7rem;
}

.game-container {
	display: flex;
}

.game-container-left {
	margin-right: 5rem;
	position: relative;
}

.game-container-right {
	margin: auto;
}

/* Main board container */
.board-grid {
	display: grid;
	grid-template-columns: repeat(7, 90px);
	grid-template-rows: repeat(7, 90px);
	position: relative;
	border: 0.1px solid rgba(0, 0, 0, 0.5);
}

.board-grid > div {
	background: url(../media/old-painted-wood-2-900x900.jpg);
	width: 90px;
	height: 90px;
	border: 0.1px solid rgba(0, 0, 0, 0.5);
}

/* Stones and squares */
.btn-circle {
	width: 83.433px;
	height: 83.433px;
	border-radius: 50px;
	border: none;
	margin: 1px;
	padding: 0;
	transition: all 500ms ease-in;
	background-color: transparent;
}

.btn-circle:focus {
	outline: none;
	box-shadow: none;
}

.btn-circle::-moz-focus-inner {
	border: 0;
}

.white-stone {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	background: var(--white-sphere);
	z-index: 1;
}

.black-stone {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	background: var(--black-sphere);
	z-index: 1;
}

.focused-square {
	border: 3px rgb(221, 19, 19) solid !important;
}

.marked-square {
	border: 3px rgb(240, 140, 0) solid !important;
}

.highlighted-square {
	border-radius: 35px !important;
	background: rgb(6, 105, 6);
	z-index: 0;
}

/* Stone counter */
.numeric-counter {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 25px;
	width: 65px;
	height: 65px;

	border-radius: 5px;
}

.numeric-black-counter {
	background-color: #141c21;
	color: #eeeeee;
	float: right;
}

.numeric-white-counter {
	background-color: #eeeeee;
	color: #141c21;
}

.numeric-counter-turn-marker {
	border: 5px rgb(240, 140, 0) solid !important;
}

.bar-stone-counter {
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	outline: 0.1px solid rgba(0, 0, 0, 0.5);
}

.bar-stone-counter > div {
	width: 12.89795918367347px;
	height: 12.89795918367347px;
	padding: 1px;
	border: 1px solid black;
}

.bar-stone-counter-black {
	background-color: rgb(70, 67, 67);
}

.bar-stone-counter-blank {
	background-color: var(--empty-counter-color);
}

.bar-stone-counter-white {
	background-color: rgb(255, 255, 255);
}

.bar-stone-counter-halfway-mark {
	border: 2px rgb(221, 19, 19) solid !important;
}

/* Coordinates */
.coordinates-container {
	position: absolute;
	display: flex;
	flex-direction: column-reverse;
	/*exact board width and height*/
	width: 630px;
	height: 630px;
	top: 22px;
}

.file-coordinates {
	display: flex;
	flex-direction: row;
	bottom: -35px;
	position: absolute;
}

.file-coordinates > p {
	width: 90px;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

.rank-coordinates {
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: -21px;
}

.rank-coordinates > p {
	height: 90px;
	vertical-align: bottom;
	font-size: 20px;
	font-weight: 500;
	margin: auto;
	line-height: 90px;
}

/* Resign button */
.resign-btn {
	border: none;
	border-radius: 5px;
	min-width: 3em;
	padding: 0.5em 1em;
	background: transparent;
	transition: all 0.2s ease-in;
	width: 65px;
}

#btn-svgs > path {
	transition: all 0.2s ease-in;

	fill: var(--txt-grey);
}

.resign-btn:hover {
	background-color: var(--main-color);
}
.resign-btn:hover #btn-svgs > path {
	fill: #fff;
}

.highlight-draw-button {
	border: 5px rgb(0, 76, 240) solid !important;
}

/* MEDIA QUERIES */
/* Large devices (desktops, 992px and down)*/
@media (max-width: 992px) {
	.game-section {
		margin-top: 0;
		margin-bottom: 3rem;
	}

	.game-container {
		flex-direction: column-reverse;
	}

	.game-container-left {
		margin-right: 0;
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

/* Medium devices (tablets, 768px and down)*/
@media (max-width: 768px) {

}

/*Small devices (landscape phones, 576px and down)*/
@media (max-width: 576px) {
	.game-container{
		flex-direction: column;
	}
	.coordinates-container{
		width: 100%;
	}
	.game-section {
		width: 100%;
		padding:0;
		margin:0;
	}
	.board-grid {
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(7, 1fr);
		width:95%;
		height: 100vw;
	}
	.board-grid > div {
		width: auto;
		height: auto;
	}
	.btn-circle {
		width: 12vw;
		height: 12vw;
	}
	.bar-stone-counter {
		display:none;
	}
	.container-nbs{
		padding:0;
	}
	.coordinates-container{
		display: none;
	}
	.marked-square {
		border:1px rgb(240, 140, 0) solid !important;
	}
}
