@import url("https: //fonts.googleapis.com/css2?family=Asap&display=swap");
* {
	margin: auto;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--black-sphere: radial-gradient(circle at 65% 15%, #5c5e61 1px, #5c5e61 3%, rgb(0, 0, 0) 60%, #37383a 100%);
	--white-sphere: radial-gradient(circle at 65% 15%, #fff 1px, #eeeeee 3%, #a5a4a4 60%, #c5c5c5 100%);
}

body {
	font-family: asap;
	color: #93a1a1;
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
}

header {
	font-family: asap;
	background-color: #93a1a1;
	color: #141c21;
	background-image: linear-gradient(#93a1a1 80%, #141c21);
	width: 100%;
}

.white {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	background: var(--white-sphere);
	z-index: 1;
}

.black {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	background: var(--black-sphere);
	z-index: 1;
}

.clicked-p {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	background: radial-gradient(gray, white);
}

.highlight {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	background: radial-gradient(gray, green);
	z-index: 0;
}

.btn-circle {
	width: 83.433px;
	height: 83.433px;
	border-radius: 50px;
	border: none;
	margin: 1px;
	padding: 0;
	transition: all 500ms ease-in;
}

.btn-circle:focus {
	outline: none;
	box-shadow: none;
}

.btn-circle::-moz-focus-inner {
	border: 0;
}

.transparent {
	background: rgba(255, 255, 255, 0);
	z-index: -1;
}

/*Main board container*/
.board-grid {
	display: grid;
	grid-template-columns: repeat(7, 90px);
	grid-template-rows: repeat(7, 90px);
	position: relative;
	border: 0.1px solid rgba(0, 0, 0, 0.5);
}

.board-grid > div {
	background: url(../old-painted-wood-2-900x900.jpg);
	width: 90px;
	height: 90px;
	border: 0.1px solid rgba(0, 0, 0, 0.5);
}

/* page layout*/
.game-section {
	margin-top: 7rem;
}

.game-container {
	display: flex;
}

.game-container-left {
	margin-right: 5rem;
}

.game-container-right {
	margin: auto;
}

.counter {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 25px;
	width: 65px;
	height: 65px;

	border-radius: 5px;
}

.black-counter {
	background-color: #141c21;
	color: #eeeeee;
	float: right;
}

.white-counter {
	background-color: #eeeeee;
	color: #141c21;
}

/*MEDIA QUERIES*/
/* Large devices (desktops, 992px and down)*/
@media (max-width: 992px) {
	.game-container {
		flex-direction: column-reverse;
	}
	.game-container-left {
		margin-right: 0;
		margin-top: 2rem;
	}
}

/* Medium devices (tablets, 768px and down)*/
@media (max-width: 768px) {
}

/*Small devices (landscape phones, 576px and down)*/
@media (max-width: 576px) {
}
